# Node Modules
backend/asteroid_express_app/node_modules/
frontend/asteroid_app/node_modules/
frontent/asteroid_app/dist/

npm-debug.log*
yarn-debug.log*

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# .env variables
.env
